    /* Don't touch my xx-info BAKA. The.mdo founder of klaster 16-09-2021 */
a:link {
  text-decoration: none;
}

.fly-button {
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  width: 30px;
}
.xx-apc, .cc-apc {
  float: right;
  text-align: center;
  margin: 10px 0px 0px 0px;
  }
.xx-akp, .cc-akp {
  height: 250px;
  box-shadow: rgba(0, 2, 2, 0.495) 0px 0px 5px 3px;
  padding: 0px;
  margin: 0px;
  border-radius: 5px;
  text-align: center;
  }
.xx-title{
  font-size: 20px;
  margin: 10px 10px;
  font-family: Carter One;
  letter-spacing: 1px;
  text-shadow: 1px 1px 5px #000;
  color: #fff;
  }
.xx-play {
    font-size: 18px;
    text-shadow: 2px 1px #000;
    text-align: center;
    background-image: linear-gradient(to left, #9a0a2d, #c62048, #9a0a2d);
    border-radius: 30px;
    margin: 10px;
    line-height: 10px;
    color: #fff;
    padding: 14px;
    position: relative;
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 2px 1px;
}
.xx-back {
    font-size: 18px;
    text-shadow: 2px 1px #000;
    text-align: center;
    background-image: linear-gradient(to left, #9a0a2d, #e40e42, #9a0a2d);
    border-radius: 30px;
    margin: 10px 10px 5px 10px;
    line-height: 10px;
    color: #fff;
    padding: 10px;
    position: relative;
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 2px 1px
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
   outline: none;
}
.xx-main, .cc-main, .cc-main {
  float: left;
  text-align:right;
  margin: 0px;
  width: 100%;
  font-family: Cairo;
  padding-bottom: 5px;
  }
.xx-box, .s-box {
    font-size: 13px;
    font-family: Cairo;
    background-color: #74747420;
    border-radius: 10px;
    text-align: right; 
    line-height: 24px;
    margin: 10px 3px 0px 3px;
    padding: 5px 10px 10px 10px;
    background-size: cover;
    font-weight:normal;
    box-shadow: rgb(0 2 2 / 20%) 0px 1px 2px 1px;
}
.xx-24min {color: #c62048;}
.xx-info {width: 100%;
  font-size: 13px;
  text-align: right;
  font-family: Cairo;
  }
.xx-button, .xx-button1 {
background-image: linear-gradient(to top right, #9a0a2d, #c62048);
color: #fff;  border-radius: 20px;
  border: 1px solid #000;
  padding: 0px 8px;
  font-size: 11px;
  font-family: Cairo;
  line-height: 18px;
  }

.xx-year, .xx-age, .xx-rate {
color: #808080;
font-weight:bold;
}
.xx-age:hover{color: #c62048;}
.xx-year:hover{color: #c62048;}
.xx-rate:hover{color: #c62048;}
.fa-youtube:hover{color: #ff0000;}

.xx-ar {
font-size: 13px;
  }
.xx-t1, .xx-t2, .xx-t3, .xx-ts, .nsv-0, .nsv-1, .nsv-2, .nsv-3, .nsv-4, .nsv-5 {
font-size: 13px;
font-weight: bold;
margin:0px;
}
.xx-tx1, .xx-tx2 {
font-size: 13px;
font-weight: bold;
margin-bottom:7px;
}
.xx-fbm:before {content: "عائلي دموي منحرف";}
.xx-t1:before {content:"بيانات الأنمي ";}
.xx-t2:before {content:" تصنيفات الأنمي ";}
.xx-tx1:before {content:"أشهر الأنميات ";}
.xx-tx2:before {content:"أحدث الأنميات ";}
.xx-t3:before {content:"القصة ";}
.nsv-1:before {content:"AK ";}
.nsv-3:before {content:"SD ";}
.nsv-5:before {content:"HD ";}
.footer-msg:before {content:"U_U فرجة ممتعة ";}

.xx-tags {width: 100%;
  font-size: 13px;
  text-align: center;
  line-height: 3px;
  font-family: Cairo;
  margin:0px 0px 10px 0px;
  }
#mpgx {
  width: 100%;
  background-color: #383838;
  BORDER-radius:30px;
  margin:8px 0;}
#mnh, #fam, #bld {
  height: 10px;
  background-color: #c62048;
  BORDER-radius:30px;}
.xx-fbm {font-size:12px; width:50px; font-weight:bold; line-height:20px;}
.xx-yt {font-size:30px; background-color:#f0f2f5; border-radius:62px; width:62px; box-shadow:rgb(0 0 0 / 40%) 0px 0px 1px 1px;}


@media only screen and (max-width: 500.555px) {
  /* For mobile phones: */
  .xx-main, .cc-main, .cc-main {
    width: 100%;
    text-align:center;
  }
  .xx-apc, .cc-apc {
    width: 100%;
  }
}

@media only screen and (min-width: 500px) {
  /* For laptops: */
  .xx-apc, .cc-apc {
    width: 35%;}
  .xx-main, .cc-main, .cc-main {
    width: 65%;
    margin: 0px;
  }
.xx-akp, .cc-akp {
  height: 180px;
  }
}


.xx-3info {width: 100%;
  font-size: 15px;
  text-align: center;
  font-family: Cairo;
  line-height:20px;
  font-weight: bold;
  }
  .xt1, .xt7 {width:30px;}
/* Don't touch my xx-episodes BAKA. The.mdo founder of klaster 16-09-2021 */

#xx-input {
    width: 130px;
    border: 0px;
    font-size: 14px;
    text-align: center;
    border-radius: 30px;
    padding: 4px;
    position: fixed;
    outline: none;
    top: 20px;
    right: 10px;
    box-shadow: rgb(0 0 0 / 40%) 0px 0px 2px 1px;
    background-color: #ffffff;
    font-family: 'Cairo';
}

#xx-ul {
  list-style-type: none;
  list-style:none;
  padding: 0;
  margin: 0;
}

#xx-ul li h4 {
  list-style:none;
  background-color: #292a30;
  padding: 9px 10px 10px 10px;
  margin: 15px; 
  text-decoration: none;
  font-size: 18px;
  display: block;
    font-family: Cairo;
    border-radius: 2em / 5em;
    box-shadow:0px 0px 3px 2px #0000004f;
    line-height: 15px;
    text-align: right;
}


/* Don't touch my xx-icons BAKA. The.mdo founder of klaster 16-09-2021 */
.fa-caret-down {
  color: #c62048; 
  font-size: 25px;    
  top: -5px;
  position: relative;}
td, th {padding: 0px;}
.fa-youtube {color: #c62048;}

.xxic1::before {
        font-family: "Font Awesome 5 Free";
        content: "\f04b";
      }
.xxic2::before {
        font-family: "Font Awesome 5 Free";
        content: "\f0c3";
      }
.xxicx1::before {
        font-family: "Font Awesome 5 Free";
        content: "\f7e4";
      }
.xxicx2::before {
        font-family: "Font Awesome 5 Free";
        content: "\f017";
      }
.xxic3::before {
        font-family: "Font Awesome 5 Free";
        content: "\f10e";
      }

.zzic1::before {
        font-family: "Font Awesome 5 Free";
        content: "\f0c6";
        color:  #cecece;
      }
.zzicx1::before {
        font-family: "Font Awesome 5 Free";
        content: "\f0c6";
        color:  #cecece;
      }
.zzicx2::before {
        font-family: "Font Awesome 5 Free";
        content: "\f0c6";
        color:  #cecece;
      }
.zzic2::before {
        font-family: "Font Awesome 5 Free";
        content: "\f0c6";
        color:  #cecece;
      }
.zzic3::before {
        font-family: "Font Awesome 5 Free";
        content: "\f0c6";
        color:  #cecece;
      }
.xxicplay:before {
        font-family: "Font Awesome 5 Free";
        content: "\f04b";
        font-weight: 900;
      }
.xxicback:before {
        font-family: "Font Awesome 5 Free";
        content: "\f05a";
        font-weight: 900;
      }

.xtic1::before {
        font-family: "Font Awesome 5 Free";
        content: "\f071";
        font-weight: 900;
        xcolor: #424242;
      }
.xtic2::before {
        font-family: "Font Awesome 5 Free";
        content: "\f073";
        font-weight: 900;
      }
.xtic3::before {
        font-family: "Font Awesome 5 Free";
        content: "\f005";
        font-weight: 900;
      }

.xtic1, .xtic2, .xtic3 {
        margin-right: 4px;
      }
.zzicx1, .zzicx2, .zzic1, .zzic2, .zzic3 {
        float: left;
      }

.sic0::before {
        font-family: "Font Awesome 5 Free";
        content: "\f358";
      }
.sic1::before {
        font-family: "Font Awesome 5 Free";
        content: "\f144";
      }
.sic2::before {
        font-family: "Font Awesome 5 Free";
        content: "\f358";
      }
.sic3::before {
        font-family: "Font Awesome 5 Free";
        content: "\f144";
      }
.sic4::before {
        font-family: "Font Awesome 5 Free";
        content: "\f358";
      }
.sic5::before {
        font-family: "Font Awesome 5 Free";
        content: "\f144";
      }
.wic1::before {
        font-family: "Font Awesome 5 Free";
        content: "\f144";
      }
.wic2::before {
        font-family: "Font Awesome 5 Free";
        content: "\f358";
      }
  
.tag-harem, .tag-action, .tag-shounen, .tag-sports, .tag-games, .tag-micha, .tag-ecchi, .tag-shoujou, .tag-sci-fi, .tag-drama, .tag-demons, .tag-army, .tag-fantasy, .tag-comedy, .tag-mystery, .tag-vampire, .tag-unn, .tag-history, .tag-nlife, .tag-seinen, .tag-romance, .tag-romance, .tag-super, .tag-powers, .tag-horror, .tag-psycho, .tag-school, .tag-music, .tag-thriller, .tag-crime, .tag-shoujo, .tag-police, .tag-jussi, .tag-thriller, .tag-isekai, .tag-magic, .tag-fights, .tag-nlife, .tag-adventure, .tag-VG, .tag-animeism, .tag-manga, .tag-BR, .tag-HSG, .tag-manga, .tag-short, .tag-chinese, .tag-novel, .tag-manga, .tag-manga, .tag-gl, .tag-original, .tag-hsg, .tag-vg:before {
    display: none;
}
.simil:before {content:"نسبة الشبه ";}
.seas:before {content: "الموسم ";}
.score:before {content: "المرتبة ";}
.box-sim:before {content: "أنميات مشابهة ";}
.xx-fbm:before {content: "عائلي دموي منحرف";}



  
  /* Don't touch my episodes BAKA. The.mdo founder of klaster 30-04-2022 */

.navbarx, .nsv-0x, .nsv-0, .nsv-1x, .nsv-1, .nsv-2x, .nsv-3x, .nsv-4x, .nsv-5x, .nsv- {
  display: none;
}
.navbar {
    list-style: none;
    background-color: #74747420;
    padding: 10px 10px;
    margin: 15px 3px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    font-family: Cairo;
    border-radius: 20px;
    line-height: 15px;
    text-align: right;
    height: 25px;
    box-shadow: rgb(0 2 2 / 20%) 0px 1px 2px 1px;}


.navbar a {
  text-decoration: none;  float: right;
}
.nsv-x1 {
    font-size: 12px;
    font-family: Cairo;
    text-shadow: 2px 1px 2px #000;
    background-image: linear-gradient(to top, #121316, #18191e);
    border-radius: 15px;
    padding: 5px 10px;
    margin-right: 0px;}

.nsv-0 {
    font-size: 12px;
    font-family: Cairo;
    text-shadow: 2px 1px 2px #000;
    background-image: linear-gradient(to top, #121316, #18191e);
    border-radius: 15px;
    padding: 5px 8px;
}
.nsv-2, .nsv-4 {
    font-size: 12px;
    font-family: Cairo;
    text-shadow: 2px 1px 2px #000;
    background-image: linear-gradient(to top, #121316, #18191e);
    border-radius: 15px;
    padding: 5px 8px;
    margin-right: 5px;
    color: #fff;
}
.nsv-3, .nsv-5, .nsv-1 {
font-size: 12px;
    font-family: Cairo;
    text-shadow: 2px 1px 2px #000;
    background-image: linear-gradient(to top, #121316, #18191e);
    border-radius: 15px;
    padding: 5px 10px;
    margin-right: 0px;
    color: #fff;
}
.xep {
  float: left;
  overflow: hidden;
}
.xepx {
  overflow: hidden;
}
.xx-ts {
  font-size: 12px;  
  border: none;
  outline: none;
  padding: 6px 8px;
  background-image: linear-gradient(to top right, #aa0029, #c62048);
  margin: 0;
  color: #fff;
  border-radius: 20px;}

.xx-mplay {
    font-size: 18px;
    text-shadow: 2px 1px #000;
    text-align: center;
    background-image: linear-gradient(to left, #9a0a2d, #e40e42, #9a0a2d);
    border-radius: 30px;
    margin: 10px 10px 20px 10px;
    line-height: 10px;
    color: #fff;
    padding: 14px;
    position: relative;
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 2px 1px;
}

.xep-content {
display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    margin-top: -36px;
    background-image: linear-gradient(to top right, #9c0a2d, #e40e42);
    border-radius: 30px;
    padding: 10px 5px;
    right: 10px;
}

.en {
  padding: 5px 0px 0px 0px;
  float: right;
  color: #808080;
}
.xep:hover .xep-content {
  display: block;
}
  .fa-caret-down, .xxic1, .xxic2, .xxic3 {
  float: right;
  margin: 0 5px;
}


.ak-but-s, .ak-but-h {
    font-size: 14px;
    color: #fff;
    font-family: Cairo;
    text-shadow: 2px 1px 2px #000;
    background-image: linear-gradient(to top, #9a0a2d,  #e40e42);
    border-radius: 15px;
    padding: 4px 10px;
    margin: 5px;
    border: 1px #fff solid;
}
.xh, .ak-but-a,.nsv-0,.nsv-1,.ak-but-dr,.ak-but-ok,.nsv-0x,.nsv-1x,.nsv- {display:none}

.main_div
  {
  text-align:center;
  background: #00C492;
  padding:20px; width: 400px;
  }
.inner_div
  {
  background: #fff;
  margin-top:20px;
  height: 100px;
  }
.sbuttons a
  {
    font-size: 14px;
    background-color: #74747450;
    padding: 0px 10px;
    color: #fff;
    border-radius: 40px
  }
.sbuttons a:hover
  {
    background-color: #c62048;
    color: #fff;
    border-radius: 40px
  }
.nstitle1:before {content:"الموسم الأول";}
.nstitle1_5:before {content:"الجزء الثاني من الموسم 1";}
.nstitle2:before {content:"الموسم الثاني";}
.nstitle2_5:before {content:"الجزء الثاني من الموسم 2";}
.nstitle3:before {content:"الموسم الثالث";}
.nstitle4:before {content:"الموسم الرابع";}
.nstitle5:before {content:"الموسم الخامس";}
.nstitle6:before {content:"الموسم السادس ";}
.nstitle7:before {content:"الموسم السابع";}
.nschoose:before {content:"اختر الموسم :";}


.nschoose {font-size: 14px;}
.s-box {text-align: center}
.s-info {width: 100%;
  font-size: 13px;
  text-align: right;
  font-family: Cairo;
  text-align: center;
  }
.s-year, .s-age, .s-rate {color: #c62048;}
    
    
    
